@import "./Mixin";

.rotateSpace {
  animation: rotateSpace 15s ease-in-out infinite;
}

.slowerAnimation {
  animation-duration: 15s !important;
}

.sideLeft {
  transform-origin: bottom;
  animation: sideLeft 25s ease-in infinite;
  @include sideMove(20deg, -40deg, sideLeft);
}
.sideRight {
  transform-origin: bottom;
  animation: sideRight 25s ease-in infinite;
  @include sideMove(-40deg, 20deg, sideRight);
}

.rotateSpace:hover {
  scale: 0.98;
}

.scaleAnimation {
  animation: scaleAnimation 2.5s ease-in 1;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(0);
    filter: blur(0);
  }
  50% {
    transform: scale(150);
    filter: blur(4);
  }
}

.upDown {
  animation: upDown 4s ease-in-out infinite;
  @include Move(0, 1vh, Y, upDown);
}
.downUp {
  animation: downUp 4s ease-in-out infinite;
  @include Move(1vh, 0, Y, downUp);
}

.decrease {
  scale: (0.9);
  box-shadow: 0 0 1rem rgba(4, 184, 4, 0.568);
}

@keyframes rotateSpace {
  0% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(-5deg);
  }
  50% {
    transform: rotateX(20deg) rotateY(0) rotateZ(0);
  }
  100% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(-5deg);
  }
}

.eyesClosingOpening {
  border: 0 solid black;
  animation: eyesClosingOpening 4s ease-in-out infinite;
}

@keyframes eyesClosingOpening {
  0% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
  50% {
    border-top: 2.5rem solid black;
    border-bottom: 2.5rem solid black;
  }
  100% {
    border-top: 0 solid black;
    border-bottom: 0 solid black;
  }
}

.rotate {
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateY(50deg) rotateX(65deg);
  }
  50% {
    transform: rotateY(-20deg) rotateX(65deg);
  }
  100% {
    transform: rotateY(50deg) rotateX(65deg);
  }
}

.up {
  transform: translateY(-15vh) scale(1) !important;
  filter: blur(0) !important;
}

.forwardsDrive {
  animation: forwardsDrive 80s ease-in-out infinite;
  @include Move(-200vh, 200vh, Y, forwardsDrive);
}
.backwardsDrive {
  animation: backwardsDrive 80s ease-in-out infinite;
  @include Move(200vh, -200vh, Y, backwardsDrive);
}

.rotateText {
  transform: rotateX(60deg);
}

.slow {
  animation-duration: 10s;
}

.slowe {
  animation-duration: 31s !important;
}
.slower {
  animation-duration: 60s !important;
}

.fly {
  animation: flyNormal 3s ease-in-out infinite;
  @include Fly(flyNormal, 0, 0 -1.5vh);
}

.flyOpposite {
  animation: flyOpposite 3s ease-in-out infinite;
  @include Fly(flyOpposite, 0 -1.5vh, 0);
}

.callAnimation {
  animation: callAnimation 4.5s ease infinite;
}

@keyframes callAnimation {
  0% {
    outline-offset: 2.1vmin;
    outline: 2.5vmin dotted white;
  }
  50% {
    outline-offset: 6vmin;
  }
  100% {
    outline: initial;
    outline-style: hidden;
  }
}

.memory {
  animation: memory 4s linear infinite;
}

.rotateCircle {
  animation: rotateCircle 4s linear infinite;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes memory {
  0%,
  100% {
    opacity: 1;
    filter: blur(0);
  }
  50% {
    opacity: 0.5;
    filter: blur(0.25);
  }
}

.upDown {
  @include Move(-1.7vh, 0vh, Y, upDown);
}

.rotate1 {
  transform: rotateX(20deg) rotateZ(-20deg);
  box-shadow: -1.5rem 2rem 1rem #000000bd;
}
.rotate2 {
  transform: rotateX(-20deg) rotateZ(20deg);
  box-shadow: 1.5rem 2rem 1rem #000000bd;
}

.spotlight::before {
  content: "";
  @include Triangle(
    15vw solid transparent,
    90vh solid rgba(255, 255, 255, 0.404)
  );
  left: 40%;
  filter: blur(4rem);
  position: absolute;
}
